In [14]:
import pandas as pd
pd.options.display.max_columns = 0

In [15]:
data = pd.read_csv("../data/raw/atp_matches_2023.csv", sep=";")
data.head()

  tourney_id tourney_name  ... loser_rank  loser_rank_points
0  2023-9900   United Cup  ...       16.0             2375.0
1  2023-9900   United Cup  ...       23.0             1865.0
2  2023-9900   United Cup  ...       10.0             2905.0
3  2023-9900   United Cup  ...      245.0              220.0
4  2023-9900   United Cup  ...       16.0             2375.0

[5 rows x 49 columns]

In [16]:
data.describe()

         draw_size  tourney_date  ...   loser_rank  loser_rank_points
count  2242.000000  2.242000e+03  ...  2221.000000        2221.000000
mean     67.454059  2.023044e+07  ...   111.577217        1049.325979
std      45.272834  2.280950e+02  ...   167.645209        1073.510850
min       4.000000  2.023010e+07  ...     1.000000           1.000000
25%      32.000000  2.023022e+07  ...    38.000000         531.000000
50%      32.000000  2.023042e+07  ...    69.000000         771.000000
75%     128.000000  2.023063e+07  ...   111.000000        1046.000000
max     128.000000  2.023082e+07  ...  1859.000000        9395.000000

[8 rows x 35 columns]

In [17]:
data.drop(columns=["tourney_id", "draw_size", "tourney_date", "match_num", "winner_name", 
                   "loser_name", "score", "winner_rank", "winner_rank_points","loser_rank", "loser_rank_points", "winner_entry", "loser_entry"], inplace=True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2242 entries, 0 to 2241
Data columns (total 36 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tourney_name   2242 non-null   object
 1   surface        2242 non-null   object
 2   tourney_level  2242 non-null   object
 3   winner_id      2242 non-null   int64
 4   winner_seed    947 non-null    float64
 5   winner_hand    2242 non-null   object
 6   winner_ht      2123 non-null   float64
 7   winner_ioc     2242 non-null   object
 8   winner_age     2242 non-null   float64
 9   loser_id       2242 non-null   int64
 10  loser_seed     587 non-null    float64
 11  loser_hand     2242 non-null   object
 12  loser_ht       2019 non-null   float64
 13  loser_ioc      2242 non-null   object
 14  loser_age      2238 non-null   float64
 15  best_of        2242 non-null   int64
 16  round          2242 non-null   object
 17  minutes        2010 non-null   float64
 18  w_ace          2129 non-null   float64
 19  w_df           2129 non-null   float64
 20  w_svpt         2129 non-null   float64
 21  w_1stIn        2129 non-null   float64
 22  w_1stWon       2129 non-null   float64
 23  w_2ndWon       2129 non-null   float64
 24  w_SvGms        2129 non-null   float64
 25  w_bpSaved      2129 non-null   float64
 26  w_bpFaced      2129 non-null   float64
 27  l_ace          2129 non-null   float64
 28  l_df           2129 non-null   float64
 29  l_svpt         2129 non-null   float64
 30  l_1stIn        2129 non-null   float64
 31  l_1stWon       2129 non-null   float64
 32  l_2ndWon       2129 non-null   float64
 33  l_SvGms        2129 non-null   float64
 34  l_bpSaved      2129 non-null   float64
 35  l_bpFaced      2129 non-null   float64
dtypes: float64(25), int64(3), object(8)
memory usage: 630.7+ KB

# Tratamiento de NaNs

In [30]:
data.isna().sum()/data.shape[0]*100

tourney_name      0.000000
surface           0.000000
tourney_level     0.000000
winner_id         0.000000
winner_seed      55.988727
winner_hand       0.000000
winner_ht         0.000000
winner_ioc        0.000000
winner_age        0.000000
loser_id          0.000000
loser_seed       72.851104
loser_hand        0.000000
loser_ht          0.000000
loser_ioc         0.000000
loser_age         0.000000
best_of           0.000000
round             0.000000
minutes           0.000000
w_ace             0.000000
w_df              0.000000
w_svpt            0.000000
w_1stIn           0.000000
w_1stWon          0.000000
w_2ndWon          0.000000
w_SvGms           0.000000
w_bpSaved         0.000000
w_bpFaced         0.000000
l_ace             0.000000
l_df              0.000000
l_svpt            0.000000
l_1stIn           0.000000
l_1stWon          0.000000
l_2ndWon          0.000000
l_SvGms           0.000000
l_bpSaved         0.000000
l_bpFaced         0.000000
dtype: float64

In [22]:
data.dropna(subset=['w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon'], inplace=True)

In [28]:
data["winner_ht"].fillna(data["winner_ht"].mean(), inplace=True)
data["loser_ht"].fillna(data["loser_ht"].mean(), inplace=True)
data["loser_age"].fillna(data["loser_age"].mean(), inplace=True)
data["minutes"].fillna(data["minutes"].mean(), inplace=True)