In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.calibration import LabelEncoder
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.linear_model import Lasso, Ridge, LinearRegression
pd.options.display.max_columns = 0

In [2]:
data = pd.read_csv("../data/processed/tennisResults.csv")
data.head()

  tourney_name surface tourney_level  ...  l_SvGms l_bpSaved  l_bpFaced
0   United Cup    Hard             A  ...     12.0       9.0        9.0
1   United Cup    Hard             A  ...      4.0       1.0        3.0
2   United Cup    Hard             A  ...     12.0       2.0        2.0
3   United Cup    Hard             A  ...      9.0       6.0        9.0
4   United Cup    Hard             A  ...     16.0       1.0        2.0

[5 rows x 34 columns]

In [3]:
columns_LE = ["tourney_name", "winner_ioc", "loser_ioc", "round"]
le = LabelEncoder()

data["tourney_name"] = le.fit_transform(data["tourney_name"])
data["winner_ioc"] = le.fit_transform(data["winner_ioc"])
data["loser_ioc"] = le.fit_transform(data["loser_ioc"])
data["round"] = le.fit_transform(data["round"])
data.head()

   tourney_name surface tourney_level  ...  l_SvGms l_bpSaved  l_bpFaced
0            46    Hard             A  ...     12.0       9.0        9.0
1            46    Hard             A  ...      4.0       1.0        3.0
2            46    Hard             A  ...     12.0       2.0        2.0
3            46    Hard             A  ...      9.0       6.0        9.0
4            46    Hard             A  ...     16.0       1.0        2.0

[5 rows x 34 columns]

In [4]:
data["tourney_level"].value_counts()

tourney_level
A    1209
M     540
G     380
Name: count, dtype: int64

In [5]:
map_surface = {"Hard":0, "Clay": 1, "Grass":2}
map_hand = {"R":0, "L": 1, "U":2}
map_tourney = {"A":0, "M": 1, "G":2}

data["surface"].replace(map_surface, inplace=True)
data["loser_hand"].replace(map_hand, inplace=True)
data["winner_hand"].replace(map_hand, inplace=True)
data["tourney_level"].replace(map_tourney, inplace=True)

In [6]:
data.head()

   tourney_name  surface  tourney_level  ...  l_SvGms  l_bpSaved  l_bpFaced
0            46        0              0  ...     12.0        9.0        9.0
1            46        0              0  ...      4.0        1.0        3.0
2            46        0              0  ...     12.0        2.0        2.0
3            46        0              0  ...      9.0        6.0        9.0
4            46        0              0  ...     16.0        1.0        2.0

[5 rows x 34 columns]

In [7]:
data.describe().round(2)

       tourney_name  surface  tourney_level  ...  l_SvGms  l_bpSaved  l_bpFaced
count       2129.00  2129.00        2129.00  ...  2129.00    2129.00    2129.00
mean          26.79     0.71           0.61  ...    12.46       4.76       8.42
std           15.07     0.72           0.77  ...     4.21       3.27       4.13
min            0.00     0.00           0.00  ...     1.00       0.00       0.00
25%           13.00     0.00           0.00  ...     9.00       2.00       5.00
50%           28.00     1.00           0.00  ...    12.00       4.00       8.00
75%           40.00     1.00           1.00  ...    15.00       7.00      11.00
max           50.00     2.00           2.00  ...    31.00      19.00      28.00

[8 rows x 34 columns]

# División de datos y Train-Test

In [8]:
X = data.drop("minutes", axis=1)
y = data["minutes"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 42)

# Cross_validation + Base Lines

In [10]:
modelos = {
    "Linear Regression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso": Lasso(),

}

# Define las métricas a usar
metricas = ["neg_mean_absolute_percentage_error", "neg_root_mean_squared_error", "r2"]

resultados_dict = {}

for nombre_modelo, modelo in modelos.items():
    cv_resultados = cross_validate(modelo, X_train, y_train, cv=5, scoring=metricas)
    
    for metrica in metricas:
        clave = f"{nombre_modelo}_{metrica}"
        resultados_dict[clave] = cv_resultados[f"test_{metrica}"].mean()

# Convertir el diccionario de resultados en DataFrame
resultados_df = pd.DataFrame([resultados_dict])

In [11]:
resultados_df.T

                                                            0
Linear Regression_neg_mean_absolute_percentage_...  -0.106043
Linear Regression_neg_root_mean_squared_error      -18.736209
Linear Regression_r2                                 0.778430
Ridge_neg_mean_absolute_percentage_error            -0.106048
Ridge_neg_root_mean_squared_error                  -18.735548
Ridge_r2                                             0.778445
Lasso_neg_mean_absolute_percentage_error            -0.108151
Lasso_neg_root_mean_squared_error                  -18.716229
Lasso_r2                                             0.779026